*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #a7c686;
    font-size: 1.2rem;
    min-height: 100vh;
    padding: 20px;
}
.grid-container > *{
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
}
.grid-container{
    background:url(/Proyecto_Integrador/assets/img/pexels-skylar-kang-6045328.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    gap:20px;
    grid-template: 
    "header" 150px
    "main" auto
    "navbar" auto
    "aside" auto
    "footer" 80px;
    .header{
        grid-area: header;
        background-color:#313332;
        display: flex;
        justify-content: center;
        align-items: center;
        .cajon{
            border-radius: 10px;
            padding: 30px;
            gap: 10px;
            display: flex;
            flex-direction: row;
            width: auto;
            background-color: #313332;
            a{
                text-decoration: none;
                color: #f1f1f1;
            }
        }
        .pagina{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            text-align: start;
            width: 100%;
            input{
                width: 100px;
                height: 100px;
                border: solid 1px #f1f1f1;
                border-radius: 100%;
                background-color: #f1f1f1;
            }
            h3{
                color: #f1f1f1;
            }
        }
        .perfil{
            border-radius: 100%;
            width: 100%;
            height: 80px;
        }
    }
    .main{
        display: flex;
        flex-direction: column;
        grid-area: main;
        justify-content: space-around;
        padding: 10px;
        background-color: #f1f1f1;
        .sobre-caja{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        img{
            margin: 10px;
            width: 40px;
            height: 40px;
        }
        
    }
    .navbar{
        padding: 10px;
        gap: 10px;
        grid-area: navbar;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .cajon-img{
            border-radius: 5px;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            .caja{
                text-align: center;
                background-color: #f1f1f1;
                width: 100%;
                height: auto;
                border-radius: 10px;
                margin-bottom: 10px;
                text-decoration: none;
                color: #313332;
            }
            img{
                margin: 10px;
                width: 220px;
                height: 200px;
            }
        }
        .opciones{
            gap: 10px;
            padding: 10px;
            border-top:solid 1px gray;
            margin: 10px;
            display: flex;
            flex-direction: column;
            text-align: start;
            width: 100%;
            a{
                align-self: self-start;
                text-decoration: none;
                color:#313332;
            }
        }
    }
    .footer{
        grid-area: footer;
        background-color: #313332;
        height: 250px;
    }
    @media (min-width:768px) {
        grid-template: 
    "header header" auto
    "navbar navbar" auto
    "footer footer" auto/
    200px auto;
    }
    @media (min-width:992px) {
        .header{
            padding: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .pagina{
            input{
            width: 80px;
            height: 80px;
        }
        }
        }
        .navbar{
            width: 100%;
            .element{
                justify-content: flex-start;
            a{
                margin: 10px;
            }
            }
        }
        .main{
            padding: 5px;
            display: flex;
            justify-content: flex-start;
            .cajon{
                flex-direction: column;
                align-items: flex-start;
                a{
                    text-decoration: none;
                    color:#313332;
                }
            }
        }
        grid-template: 
    "header header header header header" auto
    "navbar navbar navbar navbar navbar" auto
    "footer footer footer footer footer" auto/
    200px auto  auto auto 200px;
    }
}